.circle{
  position: absolute;
  top: 10px;
  width: 100px;
  padding:50px 0;
  line-height: 0;
  margin: 60px auto;
  background-color: pink;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  /*
  transition:background 1s,transform 0.3s 1s ease-in;
  transition:background 1s,transform 0.3s 1s ease-out;*/
  transition:background 1s,transform 0.3s 1s linear; 
}

.circle:hover{
  background:blue;
  /*transform:translateX(200px);*/
  transform:rotateZ(360deg);

}


.animate{
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
}



.panels{
  list-style-type: none;
  padding: 0;
}

.panels li{
  position: relative;
  width: 25%;
  margin: 0;
  display: block;
  box-sizing: border-box;
  float: left
}

.panels li div{
  width: 100%;
  padding: 50% 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 0;
  cursor: pointer;
}
.panels li div img{
  width: 100%;
  padding: 50% 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 0;
  cursor: pointer;
}

/*// ANIMATION STYLES //*/

.panels div.back{
  transform: rotateY(90deg);

}

.panels div.front{
  position: absolute;
}  

.panels li:hover div.front{
  animation: twirl 0.2s ease-in forwards;
}

.panels li:hover div.back{
  animation: twirl 0.2s 0.2s ease-out forwards reverse;
}

@keyframes twirl{
  0%{ transform:  rotateY(0deg) }
  100%{ transform: rotateY(90deg) }
}
